<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156818921794-2ta2o21ul1t089gqu2p3jukh8ufrtgli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156818921794-2ta2o21ul1t089gqu2p3jukh8ufrtgli</string>
	<key>API_KEY</key>
	<string>AIzaSyCHfoRSKPMp4-0KRQ5JXCMbQ4w1k0RXmPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>156818921794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-af1ed</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-af1ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156818921794:ios:177bad732e6e339fc250db</string>
</dict>
</plist>